NEXT_PUBLIC_SUPABASE_URL=https://lnuyrfrzmzudpngnqrgi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ZgBD5sEtxoUXgEjqPxhYQ_w0KvMPnk
GOOGLE_MAPS_API_KEY=AIzaSyBtHbr18cDQTpmxREhqcDu3ik7zx0FPFEM
Maps_API_KEY=AIzaSyBtHbr18cDQTpmxREhqcDu3ik7zx0FPFEM
THAI_ID_HASH_SALT=BoardBuddies_Secure_2026
NEXT_PUBLIC_AUTH_REDIRECT_URL=https://board-game-app-w95u.vercel.app/auth/callback
